<div *ngIf="card">

<form [formGroup]="timelinePlayForm"  (ngSubmit)="guess(timelinePlayForm.value)">

    <div>
        <label for="year"></label>   
        <input id="year" type="number" placeholder="Entrez la date" formControlName="year">
    </div>
    
    <button type="submit">Devinez devinez qui je suis</button>
  
</form>

<h1>Carte à deviner</h1>
<div id="cardToFind">
    <div class="card">
        <h2>{{card.name}}</h2>
        <img src="{{card.imageUrl}}">
        <h3>{{card.description}}</h3>
    </div>    
</div>

<h1>Cartes trouvées</h1>
<div id="cardFound">
<div *ngFor="let card of cardFound">
    <div id="marge">
    <div class="card">
        <h2>{{card.name}}</h2>
        <h2>{{card.date | date : 'dd/MM/yyyy'}}</h2>
        <img src="{{card.imageUrl}}">
        <h3>{{card.description}}</h3>
    </div>
    </div>
</div> 
</div>

</div>